.cardis {
    display: flex;
    gap: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cardis:hover {
    color: #670808;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

img {
    width: 90px;
    border-radius: 8px;
}

.videos {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center;
    gap: 20px;
}

.cardis-videos {
    width: 600px;
    padding: 10px;
}

.cardis-videos div {
    width: 550px;
}