.menu-livros {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.ebooks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ebooks-cardis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#nosDominiosDaMediunidade{
    display: flex;
    flex-wrap: wrap;
}