main {
    grid-area: main;
    padding: 30px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

#menu-assunto {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}