main {
    grid-area: main;
    padding: 30px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

#subi-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
#subi-menu a{
    padding: 5px 10px;
}

#subi-menu a:hover{
    text-decoration: none;
    color: #670808;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: .6em;
    transition: 0.3s;
}
#subi-menu2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
