main h3 {
    text-align: center;
}

.menu-videos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
#title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h4, h5 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.aviso {
    background-color: #fff3cd;   /* amarelo suave */
    color: #856404;             /* marrom para contraste */
    border: 1px solid #ffeeba;  /* borda suave */
    padding: 12px 16px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: .7rem;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .aviso strong {
    color: #8a6d3b;  /* cor mais forte para a palavra "Observação" */
  }

.videos-filmes {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center;
    gap: 20px;
}

.magnetismo-videos {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center;
    gap: 20px;
}

.video-filme-carde {
    display: flex;
    flex-direction: column;         
    gap: 10px;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#link-reencarnacao{
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
}

#link-reencarnacao:hover {
    border: 2px solid white;
    border-radius: 3px;
    padding: 2px;
    background-color: #cbf7ef;
    color: white;
    transition: .4s;
    font-size: 1rem;
}
